*, *::before, *::after {
   box-sizing: border-box;
}

/*
font-family: 'Noto Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Sans', sans-serif;
*/

body {
   margin: 0;
}

.container {
   width: 1170px;
   margin: 0 auto;
}


/* Navig*/

.nav {
   padding: 40px 0;
}
.nav__row {
display: flex;
justify-content: flex-start;
align-items: center;
}
.nav__logo, a.nav__logo {
   text-decoration: none;
   font-family: 'Noto Sans', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 28px;
   line-height: 38px;
   color: #000000;
   margin-bottom: 6px;
}
a.nav__logo:hover {
   text-decoration: underline;
   color: #F72464;
}
.nav__list {
   margin: 0;
   padding: 0;
   list-style-type: none;
   display: flex;
   margin-left: 100px;
}
.nav__item {
   margin-right: 30px;
   font-size: 18px;
   
}
.nav__item:last-child{
   margin-right: 0;
}
.nav__link {
   text-decoration: none;
   color: #000000;
}
.nav__link:hover{
   color: #F72464;
}
.nav__cart {
   margin-left: auto;
}
.nav__cart-link {
   padding: 7px;
   display: block;
   position: relative;
   margin-top: 3px; 
}
.nav__cart-number {
   position: absolute;
   width: 20px;
   height: 20px;
   top: 0;
   right: 0;
   border-radius: 50%;
   color: aliceblue;
   font-weight: bold;
   font-size: 15px;
   line-height: 20px;
   text-align: center;
   background: #F72464;
}


/* Header */

.header {
}
.container {
}
.header__row {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   position: relative;
}
.header__content {
   left: 0;
   position: absolute;
   width: 670px;
   
}
.header__title {
   margin: 0;
   font-family: 'Playfair Display', serif;
   font-style: normal;
   font-weight: 400;
   font-size: 72px;
   line-height: 96px;
   color: #000000;
   margin-bottom: 20px;
}
.header__button {
}
.header__text {
   font-family: 'Noto Sans', sans-serif;
   font-size: 22px;
   line-height: 1.5;
   color: #000000;
   margin-bottom: 60px;
}
.button {
   display: inline-block;
   background: #F72464;
   box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
   border-radius: 4px;
   height: 51px;
   font-family: 'Playfair Display', serif;
   font-style: normal;
   font-weight: 400;
   font-size: 26px;
   line-height: 51px;
   text-align: center;
   color: #FFFFFF;
   transition: box-shadow 0.3s ease-in-out;
   padding: 0 35px;
   text-decoration: none;
}
.button:hover {
   box-shadow: 1px 5px 25px rgba(53, 20, 30, 0.555);
}
.header__photo {
}


/*  Featured products */

.featured-section {
   padding-top: 60px;
   padding-bottom: 70px;
}


/*  Section header */


.section-header {
margin-bottom: 40px;
}
.section-header__title {
   font-family: 'Playfair Display', serif;
   font-style: normal;
   font-weight: 400;
   font-size: 42px;
   line-height: 56px;
   text-align: center;
   color: #000000;
   margin: 0;
   margin-top: 77px;
   margin-bottom: 10px;
}
.section-header__description {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   text-align: center;
   text-transform: uppercase;
   color: #999999;
}

/*  Product */

.product-link {
   text-decoration: none;
   display: inline-block;
   transition: opacity 0.2s ease-in;
}

.product-link:hover{
   opacity: 0.8;
}

.products-wrapper {
}
.product {
   text-align: center;
   max-width: 270px;
}
.product__img {
   display: block;
   margin-bottom: 12px;
}
.product__title {
   margin: 0;
   margin-bottom: 12px;
   font-family: 'Playfair Display', serif;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 27px;
   color: #000000;
}
.product__price {
   font-size: 14px;
   line-height: 19px;
   text-transform: uppercase;
   font-style: normal;
}
.product__price-old {
   color: #999999;
   margin-right: 10px;
}
.product__price-new {
   font-weight: 700;
   color: #F72464;
}